<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<select name="mov_type1" id="mov_type1" size="1" style=" font-family: Tahoma; font-size: 11px;  cursor: default;height:16px;width:185px;"   tabindex="6"   ><option value="ENTRADA">ENTRADA</option><option value="DEVOLUCION">DEVOLUCION</option><option value="SALIDA">SALIDA</option><option value="PAGO">PAGO</option><option value="STOCK">STOCK</option></select>
</body>
</html>
